<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>StatisticServlet</servlet-name>
        <servlet-class>javaschool.servlets.StatisticServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StatisticServlet</servlet-name>
        <url-pattern>/Statistic</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductPageServlet</servlet-name>
        <servlet-class>javaschool.servlets.ProductPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductPageServlet</servlet-name>
        <url-pattern>/ProductPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminProductAddServlet</servlet-name>
        <servlet-class>javaschool.servlets.AdminProductAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProductAddServlet</servlet-name>
        <url-pattern>/AdminProductAdd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FilterServlet</servlet-name>
        <servlet-class>javaschool.servlets.FilterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FilterServlet</servlet-name>
        <url-pattern>/Filter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminProductPageServlet</servlet-name>
        <servlet-class>javaschool.servlets.AdminProductPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProductPageServlet</servlet-name>
        <url-pattern>/AdminProductPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminOrderPageServlet</servlet-name>
        <servlet-class>javaschool.servlets.AdminOrderPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminOrderPageServlet</servlet-name>
        <url-pattern>/AdminOrderPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminProductsServlet</servlet-name>
        <servlet-class>javaschool.servlets.AdminProductsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProductsServlet</servlet-name>
        <url-pattern>/AdminProducts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminOrdersServlet</servlet-name>
        <servlet-class>javaschool.servlets.AdminOrdersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminOrdersServlet</servlet-name>
        <url-pattern>/AdminOrders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminClientsServlet</servlet-name>
        <servlet-class>javaschool.servlets.AdminClientsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminClientsServlet</servlet-name>
        <url-pattern>/AdminClients</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HistoryServlet</servlet-name>
        <servlet-class>javaschool.servlets.HistoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HistoryServlet</servlet-name>
        <url-pattern>/History</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetOrderServlet</servlet-name>
        <servlet-class>javaschool.servlets.GetOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetOrderServlet</servlet-name>
        <url-pattern>/GetOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RegistrationServlet</servlet-name>
        <servlet-class>javaschool.servlets.RegistrationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationServlet</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CabinetServlet</servlet-name>
        <servlet-class>javaschool.servlets.CabinetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CabinetServlet</servlet-name>
        <url-pattern>/Cabinet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>javaschool.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CollectionServlet</servlet-name>
        <servlet-class>javaschool.servlets.CollectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CollectionServlet</servlet-name>
        <url-pattern>/Collection</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CatalogServlet</servlet-name>
        <servlet-class>javaschool.servlets.CatalogServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CatalogServlet</servlet-name>
        <url-pattern>/Catalog</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdressServlet</servlet-name>
        <servlet-class>javaschool.servlets.AdressServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdressServlet</servlet-name>
        <url-pattern>/Adress</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PrivateServlet</servlet-name>
        <servlet-class>javaschool.servlets.PrivateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrivateServlet</servlet-name>
        <url-pattern>/Private</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>javaschool.servlets.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/Order</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BucketServlet</servlet-name>
        <servlet-class>javaschool.servlets.BucketServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BucketServlet</servlet-name>
        <url-pattern>/Bucket</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>javaschool.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>

</web-app>
